@import '../../../assets/styles/fonts';
@import '../../../assets/styles/variables';

.status-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 84px;
    height: 24px;
    background-color: $green;
    border-radius: 4px;
    font-family: Mada-Medium;
    font-size: 14px;
    line-height: 16px;
    color: $statusButtonText;
    padding: 4px;
    margin: 0px;
}