@import '../../../assets/styles/fonts';
@import '../../../assets/styles/variables';

.action-button {
    height: 36px;
    width: 177px;
    left: 751px;
    top: 38px;
    border-radius: 10px;
    padding: 10px, 24px, 10px, 24px;
    background: #3843D0;
    border: 3px solid #212B80;
    box-shadow: 0px 2px 0px 0px #212B80;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.action-button.button-cancel {
    color:#3843D0;
    background: #fff;
}