
@import '../../../assets/styles/fonts';
@import '../../../assets/styles/variables';

.right-layout-list-header{
    display: flex;
    flex-direction: column;

    h1 {
        font-family: Mada-Medium;
        font-size: 32px;
        line-height: 41.6px;
        text-align: left;
        color: $yearSelect;
    }
}