@import '../../../assets/styles/fonts';
@import '../../../assets/styles/variables';

body {
    overflow: auto;

    .desktop-main-layout-container{
        height: 100%;
        display: flex;
        background-color: #FAFAFC;
        overflow: hidden;

        .mobile-nav {
            display: none;
        }

        .right-layout-container{
            flex: 1 1;
            height: 100%;
            flex-direction: column;
            display: flex;
            background: #F1F2F8;
            align-items: center;

            .right-layout-content {
                display: flex;
                flex-direction: column;
                align-self: center;
                overflow: auto;
                height: 100%;
                width: 100%;
                min-width: 768px;
                padding: 25px 20px;
                background-color: $whiteBackground;
            }
        }
    }
}