@font-face {
  font-family: Mada-Black;
  src: url("../fonts/Mada-Black.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Mada-Bold;
  src: url("../fonts/Mada-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Mada-Medium;
  src: url("../fonts/Mada-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Mada-Regular;
  src: url("../fonts/Mada-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Mada-Light;
  src: url("../fonts/Mada-Light.ttf");
  font-weight: 300;
}