//Colors
$blueRafam: rgba(18, 65, 111, 1);
$lightGrey: rgba(255, 255, 255, 0.6);
$grayFont: rgba(120, 126, 143, 1);
$transparentWhite: rgba(255, 255, 255, 0.08);
$green: rgba(129, 199, 132, 1);
$statusButtonText: rgba(0, 0, 0, 0.7);
$yearSelect: rgba(61, 62, 64, 1);
$lightGreen: rgba(74, 202, 215, 1);
$white: #FFFFFF;
$whiteBackground: rgba(250, 250, 250, 1);
$greyBackgroundHeader: rgba(237,241,243,255);

//Breakpoint;
$mobile-width: 600px;
$mobile-height: 900px;
// $mobile-height: 0;

$desktop-width: 1440px;
$desktop-height: 900px;

