//Colors
$blueRafam: #12416F;
$lightGrey: rgba(255, 255, 255, 0.6);
$white: #FFFFFF;

//Breakpoint;
$mobile-width: 600px;
$mobile-height: 900px;
// $mobile-height: 0;

$desktop-width: 1440px;
$desktop-height: 900px;

